/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  padding: 20px 80px;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}
@media only screen and (min-width: 780px) {
  .navbar {
    flex-direction: row;
  }
}

.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media only screen and (min-width: 1280px) {
  .navbar-left {
    flex-direction: row;
    align-items: center;
  }
}
.navbar-left-label {
  margin-right: 60px;
  margin-bottom: 30px;
  font-size: 32.8px;
  font-weight: bold;
  font-style: italic;
  color: #0d3356;
}
@media only screen and (min-width: 780px) {
  .navbar-left-label {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar-left-label {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar-left-label {
    margin-bottom: 0;
  }
}
.navbar-left-list {
  width: 372px;
  display: flex;
  justify-content: space-between;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .navbar-left-list {
    display: flex;
  }
}
.navbar-left-list-link {
  font-size: 16px;
  text-decoration: none;
  color: #3a4980;
}

.navbar-right {
  width: 324px;
  display: flex;
  justify-content: space-between;
}
.navbar-right-item {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 25px;
}
.navbar-right-item-cart {
  position: relative;
  color: #875541;
  background-color: #f5f1ee;
}
.navbar-right-item-notify {
  position: relative;
  color: #101f37;
  background-color: #eeeff8;
}
.navbar-right-item-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar-right-item-user h4 {
  font-size: 12px;
  font-weight: 500;
  color: #c0c3c6;
}
.navbar-right-item-user h3 {
  font-size: 16px;
  font-weight: 600;
  color: #1d364d;
}

.cart-length {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  right: -4px;
  display: grid;
  place-items: center;
  border: 3px solid white;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1d364d;
}

.notify-pulse {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 25px;
  background: #d75951;
  animation: notify-pulse 0.85s infinite linear;
}

@keyframes notify-pulse {
  0% {
    transform: scale(0.15);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
