.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  @include MediaQuery(lg) {
    flex-direction: row;
    margin-top: 30px;
  }
}

.introduction-images {
  @extend %fullSpace;
  display: flex;
  flex-direction: column;
  @include MediaQuery(sm) {
    flex-direction: row;
  }
  @include MediaQuery(lg) {
    flex-direction: column;
  }
  &-main {
    width: 100%;
    height: 300px;
    margin-bottom: 37px;
    border-radius: $radius-normal;

    @include MediaQuery(sm) {
      width: 350px;
      height: 420px;
    }
    @include MediaQuery(lg) {
      width: 500px;
      height: 621px;
    }
  }
  &-thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @include MediaQuery(sm) {
      flex-direction: column;
      margin-left: 25px;
    }
    @include MediaQuery(lg) {
      flex-direction: row;
    }
    @include MediaQuery(lg) {
      margin-left: 0;
    }
    &-item {
      width: 40px;
      height: 40px;
      border-radius: $radius-low;
      @include MediaQuery(sm) {
        width: 55px;
        height: 55px;
      }
      @include MediaQuery(lg) {
        width: 80px;
        height: 80px;
      }
    }
    &-select {
      border: 3px solid #3a4980;
    }
    .material-symbols-outlined {
      @include MediaQuery(sm) {
        transform: rotate(90deg);
      }
      @include MediaQuery(lg) {
        transform: rotate(0deg);
      }
    }
  }
}

.specification {
  @extend %fullSpace;
  width: 100%;
  @include MediaQuery(lg) {
    width: 502px;
  }
  @include MediaQuery(xl) {
    width: 582px;
  }

  &-route {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
    border-radius: $radius-low;
    font-size: 1rem;
    color: #a3a9c2;
    background-color: #edf0f8;
    overflow-x: auto;
    @include MediaQuery(m) {
      width: 56%;
    }
    @include MediaQuery(xl) {
      width: 495px;
    }

    &-select {
      font-weight: 600;
      color: #3a4980;
    }
  }

  &-section1 {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    flex-direction: column;

    @include MediaQuery(xl) {
      flex-direction: row;
    }
    &-title {
      margin-bottom: 11px;
      font-size: 1.8rem;
      font-weight: 600;
    }
    &-brand {
      font-size: 1rem;
      color: #b9bbbf;
    }

    &-tools {
      width: 170px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      @include MediaQuery(xl) {
        margin-top: 0;
      }

      &-item {
        align-items: center;
        padding: 7px;
        border-radius: $radius-low;
      }
      &-favorite {
        width: 62px;
        justify-content: space-around;
        color: #d46f77;
        background-color: #fff0f0;
      }
      &-bookmark_share {
        width: 27px;
        justify-content: center;
        color: #3a4980;
        background-color: #edf0f8;
      }
    }
  }

  &-section2 {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #e4e4e4;
    flex-direction: column;

    @include MediaQuery(xl) {
      flex-direction: row;
    }
    &-price {
      margin-bottom: 14px;
      font-size: 2.5rem;
      font-weight: bold;
      color: #3a4980;
    }
    &-previous_price {
      font-size: 1.5rem;
      text-decoration: line-through;
      color: #00000079;
    }
    &-status {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 25px;

      @include MediaQuery(xl) {
        margin-top: 0;
      }

      &-item {
        padding: 7px 10px;
        border-radius: $radius-normal;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
      }
      &-star {
        width: 55px;
        justify-content: space-between;
        color: #d48d3b;
        background-color: #fbf3ea;
      }
      &-reviews {
        gap: 5px;
        color: #3a4980;
        background-color: #edf0f8;
      }
    }
    &-recommended {
      display: flex;
      font-size: 0.9rem;

      span {
        font-weight: 600;
        color: #3e9242;
        margin-right: 4px;
      }
      p {
        color: #b9bbbf;
      }
    }
  }

  &-section3 {
    padding: 33px 0;

    &-title {
      font-size: 1rem;
      font-weight: 500;
      color: #b9bbbf;
    }
    &-colors {
      display: flex;
      gap: 26px;
      margin-top: 16px;
    }
    &-color {
      width: 30px;
      height: 30px;
      display: flex;
      border-radius: $radius-full;

      @include MediaQuery(m) {
        width: 45px;
        height: 45px;
      }
      &-outline {
        border: 3px solid #ecdecc;
        border-radius: $radius-full;
        padding: 2px;
      }
      &-item1 {
        display: grid;
        place-items: center;
        background-color: #ecdecc;

        &-check {
          color: #ffffff;
        }
      }
      &-item2 {
        background-color: #bbd278;
      }
      &-item3 {
        background-color: #bbc1f8;
      }
      &-item4 {
        background-color: #ffd3f8;
      }
      &-item5 {
        background: linear-gradient(
          0deg,
          rgba(152, 193, 133, 1) 0%,
          rgba(255, 182, 182, 1) 100%
        );
      }
    }
  }

  &-section4 {
    padding: 33px 0;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #e4e4e4;

    &-title {
      font-size: 1rem;
      font-weight: 500;
      color: #b9bbbf;
    }
    &-sizes {
      width: 250px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 11px;
      margin-top: 16px;

      @include MediaQuery(xl) {
        width: 100%;
      }
      &-item {
        display: flex;
        align-items: center;
        padding: 7px 10px;
        border-radius: $radius-low;
        font-size: 1rem;
        font-weight: 500;
        color: #726c6c;
        background-color: #f3f3f3;

        input {
          outline: none;
        }
      }
      &-select {
        color: #3a4980;
      }
    }
  }

  &-section5 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 33px 0;
    @include MediaQuery(sm) {
      flex-direction: row;
    }
    @include MediaQuery(lg) {
      flex-direction: column;
    }
    @include MediaQuery(xl) {
      flex-direction: row;
    }

    &-amount {
      width: 149px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 16px;
      padding: 20px 5px;
      border-radius: $radius-full;
      font-size: 1.1rem;
      font-weight: bold;
      color: #3a4980;
      background-color: #f3f3f3;
    }
    button {
      width: 265px;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border: none;
      outline: none;
      border-radius: $radius-full;
      font-size: 1rem;
      font-weight: 600;
      color: #ffffff;
      background-color: #3a4980;
    }
  }

  &-section6 {
    width: 75%;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 17px;
    border: 1px solid #e4e4e4;
    border-radius: $radius-normal;
    @include MediaQuery(sm) {
      width: 380px;
    }
    @include MediaQuery(xl) {
      width: 545px;
    }

    &-item {
      width: auto;
      display: flex;
      gap: 15px;

      span {
        color: #d75951;
      }
      &-title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #1d364d;
      }
      &-details {
        font-size: 0.7rem;
        color: #726c6c;
        text-decoration: underline;
      }
    }
  }
}
