// colors
$white-color: #f7f5f7;
$gray-color: #667085;
$gray-light-color: #e4e4e4;
$blue-dark-color: #3a4980;
$primary-color: #164c96;
$orange-color: #e59819;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-family: "Inter", sans-serif;

// border radius
$radius-low: 8px;
$radius-normal: 14px;
$radius-full: 25px;

// screen point
$sm: 580px;
$m: 780px;
$lg: 1024px;
$xl: 1280px;

%fullSpace {
  width: max-content;
  margin: 20px auto;
  padding: 0 20px;
}
